# Exploración inicial

In [86]:
from jutils.data import DataUtils
from pathlib import Path
import pandas as pd
from pandas import DataFrame
from sklearn.model_selection import train_test_split

In [82]:
# Cargando dataset
du = DataUtils(Path(r'../data').resolve(), 'kc_house_dataDS.csv')
df: DataFrame = pd.read_csv(du.input_file_path, index_col=0)

## Identificación de columnas

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131994 entries, 0 to 131993
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          131994 non-null  int64
 1   zipcode        127587 non-null  object
 2   grade          127517 non-null  object
 3   sqft_basement  127488 non-null  object
 4   view           127654 non-null  object
 5   bathrooms      127489 non-null  object
 6   bedrooms       127529 non-null  object
 7   sqft_above     127512 non-null  object
 8   sqft_living15  127614 non-null  object
 9   lat            127531 non-null  object
 10  waterfront     127530 non-null  object
 11  floors         127591 non-null  object
 12  date           127544 non-null  object
 13  yr_renovated   127528 non-null  object
 14  yr_built       127512 non-null  object
 15  long           127560 non-null  object
 16  jhygtf         127528 non-null  object
 17  sqft_lot       127563 non-null  object
 18  price          127461 non-null  object
 19  condition      127540 non-null  object
 20  wertyj         131994 non-null  int64
 21  sqft_lot15     127539 non-null  object
 22  sqft_living    127568 non-null  object
dtypes: int64(2), object(21)
memory usage: 24.2+ MB